root = true

# All files
[*]
indent_style = space

# C# files
[*.cs]
indent_size = 4
tab_width = 4
end_of_line = crlf
insert_final_newline = false
file_header_template = unset

dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true

csharp_style_namespace_declarations = file_scoped:error
